@import '../abstract/buttons';


.delete-build-button-container{
    position: relative;
    justify-content: center;
    width: 17vw;
    height: 9vh;
    margin: auto;
    margin-top: 6%;
    
    
    .delete-build-button-success{
        @include DefaultButton();
        background-color: chartreuse;
        left:0;
        
    }
    .delete-build-button-danger{
        @include DefaultButton();
        background-color: crimson;
        right:0;
        
    }
}

@media only screen and (max-width:600px){

    .delete-build-button-container{
        width: 45vw;
        
        
        .delete-build-button-success{
            width: 20vw;
            height: 6vh;
        }
        .delete-build-button-danger{
            width: 20vw;
            height: 6vh;
        }
    }

}

 