@import '../abstract/color_variables';
@import '../abstract/buttons';

.form{
    margin: 0;
    width: 100%;
    height: 50vh;
    background-color: #0f111b;
    justify-content: center;
    display: block;

    .input-container{
        display: inline;
        margin: 0;
        margin-top: 5px;
        height: 5vh;

        .label{
            width: 30%;
            height: 7vh;
            text-align: center;
            color: $pink;
            font-size: small;
            font-weight: bold;
            background: transparent;
            margin: 0;
        }

        .input{
            width: 70%;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 5px solid #ef3b7d;
            background-color: #eff3f6;
            height: 7vh;
            margin:0;
            text-align: center;
            border-radius: 6px;
        }

    }

    .submit{
        @include MediumButton;
        position: relative;
        float: right;
        background-color: chartreuse;

    }

}

@media only screen and (max-width:600px){
    .form{
      
        .input-container{
           
    
            .label{
               
            }
    
            .input{
               
            }
    
        }
    
    
    
    }
}