@import '../abstract/color_variables';

.modal-main{
    z-index: 99999;

    .modal-header{
        .h4{
            font-weight: bolder;
            text-align: center;
        }
        .close{
            text-shadow: none;
            opacity: 1;
            border: 2px solid black;
            background-color: $delete-red;
        }

    }
   
    .modal-body{
        background-color: #0f111b;
    }
}

