// Backgrounds
$dark-main: #001E3D;
$purple: #161748;
$violet: #5f4dee;
$navbarbg: #0e101c;
$pink: #f0f;
$light-green: rgba(114, 240, 30, 0.829);
$delete-red: crimson;


//Footer
$footer-p: #f3f7fd;
$footer-h: #fff;